<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <span class="fa fa-heart heart fa-3x"></span>
                    </div>
                    <h1 class="presentation-title">Terceser</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Compétition</h2>
            </div>
        </div>
    </div>
</div>
